* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    all: unset;
}

.modules-left, .modules-center, .modules-right {
    
    background: alpha(@background, .6);
}

#backlight, #bluetooth, #cpu, #memory, #temperature, #workspaces, #custom-pacman {
    padding: 0px 8px;
    
}
#clock, #battery{
    padding: 0px 12px;
}
#network{
	padding: 0px 8px;
	margin-right: 10px;
}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}
#workspaces {
    padding: 0px 2px;
    color: #000000;      
}

#workspaces .active {
    color: #FFFFFF;      
}

#workspaces .inactive {
    color: #000000;         
}
#workspaces button:hover {
    color: #FFFFFF;
    background: transparent;
}
#custom-endpoint {
    color: transparent;
}

